{% load static %}
{% load config_dict %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/ede04a217f.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css"
    />
    <style>body { font-family: Vazir !important; direction: rtl; }</style>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}?{% now "U" %}" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}?{% now "U" %}" />
    <title>{% get_config 'default_title' %}{% block add_title %}{% endblock %}</title>
    <script defer src="{% static 'js/main.js' %}?{% now "U" %}" type="text/javascript"></script>
  </head>
  <body>
    <div class="overlay hidden"></div>
    {% block sections %}
    {% endblock %}
    <a href="{% get_config 'maintainer' %}">
        <button class="btn-default btn-tablebar-section" style="font-family: Vazir !important;">
          به اردک‌اردک‌برو در گیتهاب ستاره بدهید!
        </button>
      </a>
  </body>
</html>
